@import "./vendor/fonts.scss";
@import "./vendor/mixins.scss";
@import "./vendor/variables.scss";

@import "../lib/owlcarousel/css/owl.carousel.min.css";
@import "../lib/owlcarousel/css/owl.theme.default.min.css";

@import "../lib/quickview/css/jquery_image_quickview.css";


/*=======================================================
                    basic styling
=======================================================*/
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

html,
body,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*=======================================================
                    general css
=======================================================*/
.sub-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.explore-more-btn {
    padding: 10px 30px;
    color: $colorWhite;
    background: $btnBgColor;
    border: 2px solid $btnBgColor;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;

    &:hover {
        background: transparent;
        color: $btnBgColor;
    }
}

.card {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;

    img {
        object-fit: cover;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .card-img-overlay {
        bottom: 120px;
        ul {
            display: flex;
            flex-direction: column;
            float: right;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 38px;
                height: 38px;
                background: rgba($color: $colorWhite, $alpha: 0.8);
                margin-bottom: 12px;
                cursor: pointer;
                visibility: hidden;
                transition: all .15s ease-in-out;
                -webkit-transition: all .15s ease-in-out;
                -moz-transition: all .15s ease-in-out;
                -ms-transition: all .15s ease-in-out;
                -o-transition: all .15s ease-in-out;

                img {
                    max-width: 18px;
                }
            }
        }
    }

    .card-body {
        margin-top: 20px;
        padding: 0;

        .card-title {
            font-size: $fontSizeSmall;
            line-height: 1.3;
            font-weight: 600;
            text-transform: capitalize;
        }

        .price {
            margin: 0;
            color: $btnBgColor;
            font-size: $fontSizeMedium;
            line-height: 1.3;
            font-weight: 500;
        }

        .rating {
            display: flex;
        }
    }

    &:hover {
        .card-img-overlay {
            ul {
                li {
                    visibility: visible;
                }
            }
        }
    }
}


.nav-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .breadcrumb {
        background: $ourFeatureBg;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 20px;

        @media screen and (max-width: 991px) {
            padding: 7px 25px;
        }

        @media screen and (max-width: 550px) {
            padding: 5px 10px;
        }

        li+li:before {
            content: "\3000 \3000 \3000";

            @media screen and (max-width: 991px) {
                content: "\3000";
            }

            @media screen and (max-width: 550px) {
                content: "/";
            }
        }

        .breadcrumb-item {
            font-size: $fontSizeSmall;
            line-height: 1.3;
            font-weight: 500;
        }

        .breadcrumb-item.disabled {
            font-size: $fontSizeMedium;
        }

        .breadcrumb-item.active {
            color: $btnBgColor;
        }
    }
}

.form-check-input[type=checkbox] {
    background-image: url("../images/icon/uncheck.png");
    background-size: 20px;
    border-color: transparent;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("../images/icon/check.png");
    background-size: 20px;
    border-color: transparent;
}

select {
    background-image: url("../images/icon/arrow_down.png");
    background-size: 10px 6px;
    background-repeat: no-repeat;
    background-position: right .75rem center;
}


/*=======================================================
                        header
=======================================================*/
#header {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;

    .navbar,
    #navbarHeader {
        background: rgba($color: $colorBlack, $alpha: 0.9);
    }

    .navbar {
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;

            .navbar-brand {
                margin-top: 5px;
                margin-bottom: 5px;

                .navbar-toggler {
                    padding-right: 5px;
                    padding-left: 5px;

                    img {
                        width: 20px;
                    }
                }

                a {
                    img {
                        max-width: 150px;
                    }
                }
            }

            .product-action-button-box {
                margin-top: 5px;
                margin-bottom: 5px;

                .product-action-buttons {
                    display: flex;
                    align-items: center;

                    li {
                        .btn {
                            width: 30px;
                            height: 30px;
                            margin-left: 5px;
                            margin-right: 5px;
                            @include absoluteCenter;

                            img {
                                width: 20px;
                            }
                        }
                    }

                    li.btn-cart {
                        .btn {
                            position: relative;

                            span.badge {
                                position: absolute;
                                top: -9px;
                                right: -7px;
                                background: $btnBgColor;
                            }
                        }
                    }
                }
            }

            .btn-account {
                margin-top: 5px;
                margin-bottom: 5px;

                .dropdown-menu {
                    min-width: 215px;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;

                    li {
                        .dropdown-item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }

                .login-btn {
                    align-items: center;

                    li {
                        a {
                            font-size: $fontSizeMedium;
                            line-height: 1.3;
                            font-weight: 500;
                        }
                    }

                    li+li:before {
                        font-size: $fontSizeMedium;
                        line-height: 1.3;
                        font-weight: 500;
                        color: $colorWhite;
                        content: "/\00a0";
                        margin-right: -9px;
                    }
                }
            }
        }
    }

    #navbarHeader {
        border-top: 3px solid gray;

        .container {
            padding-top: 10px;
            padding-bottom: 15px;

            .row {
                div {
                    h5 {
                        font-size: $fontSizeMedium;
                        line-height: 1.3;
                        font-weight: 500;
                        margin-bottom: 12px;
                    }

                    .text-small {
                        .lh-lg {
                            .link-light {
                                font-size: $fontSizeSmall;
                                line-height: 1.3;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }

    #navbarHeaderSearch {
        background-color: #212529 !important;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        min-height: 72px;

        input {
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            border-color: rgba(255, 255, 255, .1);
            min-height: 72px;
            border-radius: 0;

            &:focus {
                color: #212529;
                background-color: #fff;
                border-color: transparent;
                box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
            }
        }
    }
}


/*=======================================================
                        banner
=======================================================*/
#banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .container {
        .sub-container {
            margin-top: 50px;

            .hero-title,
            .hero-text {
                color: $colorWhite;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .hero-title {
                font-size: 4rem;
                line-height: 1.3;
                font-weight: 600;

                @media screen and (max-width: 767px) {
                    font-size: 42px;
                }
            }

            .hero-text {
                font-size: $fontSizeMedium;
                line-height: 1.3;
                font-weight: 500;
            }

            .buy-now-btn {
                text-transform: uppercase;
            }
        }
    }
}


/*=======================================================
                    best-seller
=======================================================*/
#best-seller {
    .container {
        .row {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            margin-top: 50px;
            margin-bottom: 50px;

            .info-card-outer-box {
                display: flex;
                align-items: center;
                margin-top: 50px;
                margin-bottom: 50px;

                .info-card-inner-box {
                    .best-seller-card-title {
                        font-size: $fontSizeLarge;
                        line-height: 1.3;
                        font-weight: 400;
                    }

                    .best-seller-card-subtitle {
                        color: $btnBgColor;
                        font-style: italic;
                        font-size: $fontSizeSmall;
                        line-height: 1.3;
                        font-weight: 500;
                        margin-bottom: 20px;
                    }

                    .best-seller-card-desc {
                        font-size: $fontSizeMedium;
                        line-height: 1.3;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}


/*=======================================================
                    our-feature
=======================================================*/
#our-feature {
    background: $ourFeatureBg;
    padding-top: 50px;
    padding-bottom: 50px;

    .container {
        .row {
            align-items: flex-end;

            div {
                padding-top: 15px;
                padding-bottom: 10px;

                .feature-card {
                    text-align: center;

                    .feature-title {
                        margin-top: 15px;
                        font-size: $fontSizeMedium;
                        font-weight: 500;
                        line-height: 1.3;
                        margin-bottom: 0;
                    }

                    .feature-desc {
                        font-size: $fontSizeSmall;
                        font-weight: 400;
                        line-height: 1.3;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}


/*=======================================================
                    discount-poster
=======================================================*/
#discount-poster {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .container {
        .sub-container {
            .discount-poster-title {
                color: $colorWhite;
                text-transform: uppercase;
                font-size: 4rem;
                line-height: 1.3;
                font-weight: 600;

                @media screen and (max-width: 767px) {
                    font-size: 42px;
                }
            }

            .discount-poster-desc {
                color: $colorWhite;
                font-size: $fontSizeMedium;
                line-height: 1.3;
                font-weight: 500;
                margin-top: 15px;
            }

            .buy-now-btn {
                text-transform: uppercase;
            }
        }
    }
}


/*=======================================================
                    product-filter
=======================================================*/
#product-filter {
    .container {
        margin-top: 50px;
        margin-bottom: 100px;

        .filter-title-containe {
            div {
                text-align: center;

                .filter-title {
                    font-size: $fontSizeMedium;
                    line-height: 1.3;
                    font-weight: 600;
                    margin: 0;
                    text-transform: uppercase;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    border: none;
                }

                .active {
                    border-bottom: 3px solid $btnBgColor;
                }
            }
        }

        #MixItUpE16413 {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }

        .row {
            div {
                text-align: center;
            }
        }
    }
}


/*=======================================================
                    product-detail
=======================================================*/
#product-detail {
    .container {
        .row {
            .col-md-4 {
                .product-pic-zoom {
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }

                    .zoomImg {
                        position: absolute;
                        top: -549.267px;
                        left: -383.368px;
                        opacity: 0;
                        border: none;
                        max-width: none;
                        max-height: none;
                        width: 1000px !important;
                        height: 1358px !important;
                    }
                }

                .product-thumbs {
                    outline: none;
                    position: relative;
                    padding-top: 10px;
                    padding-bottom: 40px;

                    .product-thumbs-track {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(65px, 75px));
                        column-gap: 10px;
                        row-gap: 10px;

                        .pt {
                            img {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .col-md-8 {
                margin-top: 50px;

                .product-short-info {
                    border-bottom: 1px solid rgba($color: $colorBlack, $alpha: 0.1);
                    padding-bottom: 20px;

                    .row {
                        .col-md-12 {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 10px;

                            .product-title {
                                font-size: $fontSizeMedium;
                                line-height: 1.3;
                                font-weight: 500;
                            }

                            .stock-status {
                                font-size: $fontSizeMedium;
                                line-height: 1.3;
                                font-weight: 500;
                                color: $btnBgColor;
                            }

                            .rating-box {
                                display: flex;
                                align-items: center;

                                .rating-title {
                                    margin: 0;
                                    font-size: $fontSizeLarge;
                                    line-height: 1.3;
                                    font-weight: 500;
                                    margin-right: 10px;
                                }

                                .rating {
                                    display: flex;
                                }
                            }

                            .btn {
                                font-size: $fontSizeMedium;
                                line-height: 1.3;
                                font-weight: 500;
                                display: flex;
                                align-items: center;
                                border-radius: 0;
                                -webkit-border-radius: 0;
                                -moz-border-radius: 0;
                                -ms-border-radius: 0;
                                -o-border-radius: 0;

                                img {
                                    width: 20px;
                                    margin-right: 15px;
                                }
                            }
                        }
                    }
                }

                .cart-detail-box {
                    border-bottom: 1px solid rgba($color: $colorBlack, $alpha: 0.1);
                    padding: 20px 0;

                    .product-price {
                        font-size: $fontSizeLarge;
                        line-height: 1.3;
                        font-weight: 500;
                        color: $btnBgColor;
                        margin-bottom: 20px;
                    }

                    .row {
                        margin-top: 15px;

                        label {
                            font-size: $fontSizeMedium;
                            line-height: 1.3;
                            font-weight: 500;
                        }

                        select {
                            font-size: $fontSizeSmall;
                            line-height: 1.3;
                            font-weight: 500;
                            border: none;
                            border-radius: 0;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            -ms-border-radius: 0;
                            -o-border-radius: 0;
                            background: rgba($color: $ourFeatureBg, $alpha: 0.7);
                            padding: 10px 20px;
                        }
                    }
                }

                .cart-action-btn-box {
                    padding: 20px 0;

                    .desc {
                        font-size: $fontSizeSmall;
                        line-height: 1.3;
                        font-weight: 500;
                        margin-top: 20px;
                        margin-bottom: 40px;
                    }

                    .explore-more-btn {
                        margin-right: 15px;
                        text-transform: uppercase;
                    }

                    .btn-outline-dark {
                        font-size: $fontSizeMedium;
                        line-height: 1.3;
                        font-weight: 500;
                        border-radius: 0;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        -ms-border-radius: 0;
                        -o-border-radius: 0;
                        padding: 10px 30px;
                    }
                }
            }
        }
    }
}



/*=======================================================
                recommended-product
=======================================================*/
#recommended-product {
    .container {
        margin-top: 50px;
        margin-bottom: 100px;

        .recommended-product-title {
            font-size: $fontSizeMedium;
            line-height: 1.3;
            font-weight: 600;
            margin: 0;
            text-transform: uppercase;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            border: none;
        }

        .recommended-product-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            column-gap: 15px;

            @media screen and (max-width: 768px) {
                column-gap: 10px;
            }
        }
    }
}


/*=======================================================
                        shop
=======================================================*/
#shop {
    margin-top: 5px;

    .container {
        .col-md-4 {
            .list-group {
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;
                margin-bottom: 50px;

                .list-group-item {
                    font-size: $fontSizeMedium;
                    line-height: 1.3;
                    font-weight: 500;

                    #volume {
                        width: 100%;
                        display: block;
                    }

                    span {
                        font-size: $fontSizeSmall;
                        line-height: 1.3;
                        font-weight: 500;
                    }
                }
            }
        }

        .col-md-8 {
            .shop-hero-section {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                padding: 75px 15px;

                .sub-container {
                    max-width: 400px;

                    h1,
                    p {
                        color: $colorWhite;
                        text-transform: uppercase;
                    }
                }
            }

            .shop-function-nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 25px;

                .shop-title {
                    font-size: $fontSizeLarge;
                    line-height: 1.3;
                    font-weight: 500;
                    margin: 0;
                }

                .shop-function-box {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    div {
                        display: flex;
                        align-items: center;
                        background: $ourFeatureBg;
                        padding: 10px;
                        margin: 5px;

                        .title {
                            font-size: $fontSizeMedium;
                            line-height: 1.3;
                            font-weight: 500;
                            min-width: 65px;
                            margin: 0;
                        }

                        select {
                            width: 130px;
                            font-size: $fontSizeSmall;
                            line-height: 1.3;
                            font-weight: 500;
                            border: none;
                            border-radius: 0;
                            background-color: transparent;
                        }

                        .btn {
                            padding: 0;
                            margin-left: 5px;
                        }
                    }
                }
            }

            .shop-product-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
                column-gap: 10px;
            }

            nav {
                float: right;
                margin-top: 50px;
                margin-bottom: 150px;

                .pagination {
                    .page-item {
                        .page-link {
                            border: none;
                            border-radius: 0;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            -ms-border-radius: 0;
                            -o-border-radius: 0;
                            background: $ourFeatureBg;
                            font-size: $fontSizeMedium;
                            line-height: 1.3;
                            font-weight: 500;
                            padding: 10px 15px;
                            color: $colorBlack;

                            &:hover {
                                color: $colorWhite;
                                background: $colorBlack;
                            }
                        }

                        .page-link.active {
                            color: $colorWhite;
                            background: $colorBlack;
                        }
                    }
                }
            }
        }
    }
}


/*=======================================================
                        favourites
=======================================================*/
#favourites{
    .container{
        .tab-content{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            column-gap: 15px;
            .card{
                .card-body{
                    .btn-delete{
                        border: none;
                        display: flex;
                        align-items: center;
                        padding: 0;
                        margin-top: 10px;
                        background: transparent;
                        cursor: pointer;
                        &:hover{
                            filter: invert(27%) sepia(93%) saturate(4336%) hue-rotate(350deg) brightness(93%) contrast(139%);
                        }
                        img{
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}


/*=======================================================
                        cart
=======================================================*/
#cart {
    .container {
        .tab-content {
            .card {
                border: 1px solid rgba($color: $colorBlack, $alpha: 0.1);
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;
                padding: 10px;
                margin-top: 10px;
                margin-bottom: 10px;

                .col-md-2 {
                    img {
                        object-fit: cover;

                        @media screen and (min-width: 768px) {
                            width: 150px;
                            height: 150px;
                        }

                        width: 100%;
                    }
                }

                .col-md-10 {
                    .card-body {

                        .card-title,
                        .card-text {
                            font-size: $fontSizeMedium;
                            line-height: 1.3;
                            font-weight: 500;

                            @media screen and (max-width: 768px) {
                                font-size: $fontSizeSmall;
                            }
                        }

                        .btn {
                            display: flex;
                            align-items: center;
                            margin-left: auto;
                            padding-right: 0;

                            img {
                                margin-right: 10px;
                            }
                        }

                        .product-price {
                            font-size: $fontSizeLarge;
                            line-height: 1.3;
                            font-weight: 500;
                            color: $btnBgColor;

                            @media screen and (max-width: 768px) {
                                font-size: $fontSizeMedium;
                            }
                        }
                    }
                }
            }
        }
    }

    .price-container {
        border-top: 1px solid rgba($color: $colorBlack, $alpha: 0.1);
        padding-top: 30px;
        padding-bottom: 50px;

        .container {
            .row {
                .col-sm-12 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        font-size: $fontSizeLarge;
                        line-height: 1.3;
                        font-weight: 500;

                        @media screen and (max-width: 991px) {
                            font-size: $fontSizeMedium;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: $fontSizeSmall;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}


/*=======================================================
                    payment-gateway
=======================================================*/
#payment-gateway {
    .payment-gateway-option-box {
        margin-top: 20px;
        margin-bottom: 150px;

        .container {
            .nav {
                .nav-item {
                    border: 1px solid rgba($color: $colorBlack, $alpha: 0.1);

                    .nav-link {
                        font-size: $fontSizeSmall;
                        line-height: 1.3;
                        font-weight: 500;
                        border-radius: 0;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        -ms-border-radius: 0;
                        -o-border-radius: 0;
                        width: 100px;
                        height: 80px;
                    }

                    .nav-link.active {
                        color: $colorWhite;
                        background: $colorBlack;
                    }
                }
            }

            .payment-info {
                font-size: $fontSizeSmall;
                line-height: 1.3;
                font-weight: 500;
                margin-top: 30px;
                margin-bottom: 50px;
            }

            .tab-content {
                margin-bottom: 50px;

                .tab-pane {
                    .row {
                        label {
                            font-size: $fontSizeMedium;
                            line-height: 1.3;
                            font-weight: 500;
                        }

                        input {
                            font-size: $fontSizeMedium;
                            line-height: 1.3;
                            font-weight: 500;
                            border-radius: 0;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            -ms-border-radius: 0;
                            -o-border-radius: 0;
                            background: $ourFeatureBg;
                            border: 1px solid $ourFeatureBg;
                            padding: 10px 20px;
                        }
                    }
                }
            }

            .sidebar {
                border: 1px solid rgba($color: $colorBlack, $alpha: 0.1);
                padding: 20px;
                margin-bottom: 50px;

                @media screen and (min-width: 768px) {
                    max-width: 450px;
                    margin-left: auto;
                }

                .row {
                    .col-sm-12 {

                        .artical,
                        .service-charges,
                        .total-charges {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            p {
                                font-size: $fontSizeMedium;
                                line-height: 1.3;
                                font-weight: 500;
                            }
                        }

                        .service-charges {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}


/*=======================================================
                    order-complete-dialog
=======================================================*/
#order-complete-dialog {
    .container {
        .sub-container {
            margin-top: 150px;
            margin-bottom: 200px;
            text-align: center;

            img {
                display: block;
                margin: auto;
                max-width: 100px;
                margin-bottom: 30px;
            }

            .process-status {
                font-size: $fontSizeMedium;
                line-height: 1.3;
                font-weight: 500;
            }

            .order-id {
                font-size: $fontSizeLarge;
                line-height: 1.3;
                font-weight: 500;
                color: $btnBgColor;
                margin-bottom: 30px;
            }

            .desc {
                text-align: left;
                font-size: $fontSizeSmall;
                line-height: 1.3;
                font-weight: 500;
                margin-bottom: 30px;
            }

            .order_confirm {
                display: none;
            }
        }
    }
}


/*=======================================================
                        account
=======================================================*/
#account {
    margin-top: 10px;
    margin-bottom: 150px;

    .container {
        background-image: url("../images/icon/watermark.png");
        background-repeat: no-repeat;
        background-position: right bottom;

        .align-items-start {
            @media screen and (max-width: 768px) {
                display: block !important;
                width: 100%;
            }

            .nav {
                margin-bottom: 50px;

                @media screen and (min-width: 768px) {
                    min-width: 250px;
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: $fontSizeMedium;
                    line-height: 1.3;
                    font-weight: 500;
                    border: 1px solid rgba($color: $colorBlack, $alpha: 0.1);
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    padding: 15px;
                }

                button.active {
                    background: transparent;
                    color: $btnBgColor;
                }
            }

            .tab-content {
                width: 100%;

                #my-account {
                    .nav-btn-container {
                        .nav {
                            background: $ourFeatureBg;

                            li {
                                button {
                                    font-size: $fontSizeSmall;
                                    border: none;
                                }
                            }
                        }
                    }

                    #in-process,
                    #completed {
                        .row.g-0 {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            border: 1px solid rgba($color: $colorBlack, $alpha: 0.1);
                            padding: 20px;

                            img {
                                width: 100%;

                                @media screen and (min-width: 768px) {
                                    width: 150px;
                                    min-width: 150px;
                                    height: 150px;
                                }

                                object-fit: cover;
                            }

                            p {
                                font-size: $fontSizeSmall;
                                line-height: 1.3;
                                font-weight: 500;
                            }

                            p.product-price {
                                font-size: $fontSizeMedium;
                                color: $btnBgColor;
                                margin-top: 20px;
                            }
                        }
                    }
                }

                #manage-address,
                #payment-method {
                    .explore-more-btn {
                        margin-bottom: 50px;
                        margin-left: 89%;
                        float: right;
                    }

                    .row {
                        background-color: $ourFeatureBg;
                        padding: 40px 20px;
                        margin-top: 10px;
                        margin-bottom: 10px;

                        .col-md-6 {
                            p {
                                font-size: $fontSizeSmall;
                                line-height: 1.3;
                                font-weight: 500;
                            }

                            .card-exp-date {
                                margin-left: 20px;
                            }

                            .btn {
                                display: block;
                                margin-left: auto;
                            }
                        }
                    }
                }

                #order-tracking {
                    .nav-btn-container {
                        .breadcrumb {
                            li+li:before {
                                content: " | ";
                                font-size: $fontSizeMedium;
                            }
                        }

                        .shipping-status {
                            display: flex;
                            align-items: center;

                            .title,
                            .status {
                                font-size: $fontSizeMedium;
                                line-height: 1.3;
                                font-weight: 500;
                                margin: 0;
                            }

                            .title {
                                margin-right: 20px;
                            }

                            .status {
                                color: $btnBgColor;
                            }
                        }
                    }

                    img {
                        width: 100%;
                    }
                }

                #account-settings {
                    .explore-more-btn {
                        margin-bottom: 50px;
                        margin-left: 89%;
                        float: right;
                    }

                    .row {
                        .col-md-7 {
                            .row {
                                margin-top: 10px;
                                margin-bottom: 25px !important;

                                label,
                                input {
                                    font-size: $fontSizeMedium;
                                    line-height: 1.3;
                                    font-weight: 500;
                                }

                                input {
                                    background: $ourFeatureBg;
                                    border: 1px solid $ourFeatureBg;
                                    border-radius: 0;
                                    -webkit-border-radius: 0;
                                    -moz-border-radius: 0;
                                    -ms-border-radius: 0;
                                    -o-border-radius: 0;
                                }
                            }
                        }
                    }
                }

                #privacy-policy {
                    .title {
                        font-size: $fontSizeMedium;
                        line-height: 1.3;
                        font-weight: 500;
                        margin-bottom: 30px;
                    }

                    .desc {
                        font-size: $fontSizeSmall;
                        line-height: 1.3;
                        font-weight: 500;
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}


/*=======================================================
                    client-testimonial
=======================================================*/
#client-testimonial {
    background: $ourFeatureBg;
    padding-top: 50px;
    padding-bottom: 50px;

    .container {
        .sub-container {
            margin-top: 20px;

            .client-testimonial-title {
                font-size: $fontSizeLarge;
                line-height: 1.3;
                font-weight: 600;
                text-align: center;
                margin-bottom: 0;
                text-transform: capitalize;
            }

            .client-testimonial-subtitle {
                font-size: $fontSizeSmall;
                line-height: 1.3;
                font-weight: 500;
                color: $btnBgColor;
                text-align: center;
            }

            #customers-testimonials {
                margin-top: 60px;

                .testimonial {
                    img {
                        max-width: 100px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 25px;
                    }

                    .text-center {
                        p {
                            font-size: $fontSizeSmall;
                            line-height: 1.3;
                            font-weight: 400;
                            font-style: italic;
                        }
                    }

                    .testimonial-author {
                        margin-top: 50px;

                        .client-name {
                            font-size: $fontSizeLarge;
                            line-height: 1.3;
                            font-weight: 400;
                            margin-bottom: 0;
                        }

                        .client-detail {
                            font-size: $fontSizeSmall;
                            line-height: 1.3;
                            font-weight: 400;
                            font-style: italic;
                            color: $btnBgColor;
                        }
                    }
                }

                .owl-dots {
                    margin-top: 50px;

                    .owl-dot {
                        span {
                            width: 10px;
                            height: 3px;
                            border-radius: 30px;
                            -webkit-border-radius: 30px;
                            -moz-border-radius: 30px;
                            -ms-border-radius: 30px;
                            -o-border-radius: 30px;
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    }

                    .owl-dot.active {
                        span {
                            width: 15px;
                            background: $btnBgColor;
                        }
                    }
                }
            }
        }
    }
}


/*=======================================================
                    feature-video
=======================================================*/
#feature-video {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .container {
        a {
            background: rgba($color: $colorWhite, $alpha: 0.8);
            width: 100px;
            height: 100px;
            @include absoluteCenter;
            margin: auto;
            border-radius: 50px;
        }
    }
}


/*=======================================================
                    email-subscription
=======================================================*/
#email-subscription {
    overflow: hidden;

    .row {
        margin: 0;

        .col-md-6 {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 340px;
            display: flex;
            align-items: center;
            overflow: hidden;

            .email-field-container {
                max-width: 600px;
                margin: auto;

                .email-field-title,
                .email-field-desc {
                    line-height: 1.3;
                    font-weight: 600;
                    text-align: center;
                    color: $colorWhite;
                    letter-spacing: 1px;
                }

                .email-field-title {
                    font-size: $fontSizeLarge;
                    text-transform: capitalize;
                }

                .email-field-desc {
                    font-size: $fontSizeSmall;
                    margin-top: 10px;
                    margin-bottom: 25px;
                }

                .email-field-box {
                    display: flex;

                    input {
                        font-size: $fontSizeSmall;
                        line-height: 1.3;
                        font-weight: 500;
                        width: 100%;
                        border: 3px solid white;
                        padding-left: 15px;
                    }

                    .explore-more-btn {
                        min-width: fit-content;
                        font-size: $fontSizeSmall;
                        padding: 10px 20px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}


/*=======================================================
                    sign-up/sign-in
=======================================================*/
#account-login {
    background: url("../images/icon/watermark.png");
    background-repeat: no-repeat;
    background-position: 6% bottom;
    min-height: 100vh;
    height: 100%;
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
        a {
            text-decoration: none;
            color: $btnBgColor;
            transition: .5s ease;

            &:hover {
                color: $main-dark;
            }
        }

        .form {
            background: $colorBlack;
            padding: 40px;
            max-width: 500px;
            border-radius: $br;
            box-shadow: 0 4px 10px 4px rgba($form-bg, .3);
            margin-left: auto;
            .tab-group {
                list-style: none;
                padding: 0;
                margin: 0 0 40px 0;
    
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
    
                li a {
                    display: block;
                    text-decoration: none;
                    padding: 15px;
                    background: rgba($gray-light, .25);
                    color: $gray-light;
                    font-size: $fontSizeMedium;
                    float: left;
                    width: 50%;
                    text-align: center;
                    cursor: pointer;
                    transition: .5s ease;
    
                    &:hover {
                        background: $main-dark;
                        color: $colorWhite;
                    }
                }
    
                .active a {
                    background: $btnBgColor;
                    color: $colorWhite;
                }
            }
            h1 {
                text-align: center;
                color: $colorWhite;
                font-weight: $thin;
                margin: 0 0 40px;
                font-size: $fontSizeLarge;
            }
    
            label {
                position: absolute;
                transform: translateY(8px);
                -webkit-transform: translateY(8px);
                -moz-transform: translateY(8px);
                -ms-transform: translateY(8px);
                -o-transform: translateY(8px);
                left: 13px;
                color: rgba($colorWhite, .5);
                transition: all 0.25s ease;
                pointer-events: none;
                font-size: $fontSizeMedium;
                .req{
                    margin: 2px;
                    color: $btnBgColor;
                }
            }
    
            label.active {
                transform: translateY(41px);
                -webkit-transform: translateY(41px);
                -moz-transform: translateY(41px);
                -ms-transform: translateY(41px);
                -o-transform: translateY(41px);
                left: 2px;
                font-size: $fontSizeSmall;
                .req{
                    opacity: 0;
                }
            }
    
            label.highlight {
                color: $colorWhite;
            }
    
            input,
            textarea {
                font-size: $fontSizeMedium;
                display: block;
                width: 100%;
                height: 100%;
                padding: 5px 10px;
                background: none;
                background-image: none;
                border: 1px solid $gray-light;
                color: $colorWhite;
                border-radius: 0;
                transition: border-color .25s ease, box-shadow .25s ease;
    
                &:focus {
                    outline: 0;
                    border-color: $btnBgColor;
                }
            }
    
            textarea {
                border: 2px solid $gray-light;
                resize: vertical;
            }
    
            .field-wrap {
                position: relative;
                margin-bottom: 40px;
            }
    
            .top-row {
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
    
                >div {
                    float: left;
                    width: 48%;
                    margin-right: 4%;
    
                    &:last-child {
                        margin: 0;
                    }
                }
            }
    
            .button {
                border: 0;
                outline: none;
                border-radius: 0;
                padding: 15px 0;
                font-size: $fontSizeMedium;
                font-weight: $bold;
                text-transform: uppercase;
                letter-spacing: .1em;
                background: $btnBgColor;
                color: $colorWhite;
                transition: all.5s ease;
                -webkit-appearance: none;
                text-align: center;
    
                &:hover,
                &:focus {
                    background: $main-dark;
                }
            }
    
            .button-block {
                display: block;
                width: 100%;
            }
    
            .forgot {
                margin-top: -20px;
                text-align: right;
            }

            .divider{
                text-align: center;
                color: white;
                margin: 34px auto;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    background: white;
                    width: 46%;
                    height: 1px;
                    left: 0;
                    top: 12px;
                }
                &::after{
                    position: absolute;
                    content: "";
                    background: white;
                    width: 46%;
                    height: 1px;
                    right: 0;
                    top: 12px;
                }
            }

            .social-login-box{
                .social-icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icon-item{
                        cursor: pointer;
                        margin-left: 5px;
                        margin-right: 5px;
                        img{
                            width: 40px;
                        }
                    }
                }
            }
        }


        .tab-content>div:last-child {
            display: none;
        }


    }
}


/*=======================================================
                        footer
=======================================================*/
#footer {
    .footer-top {
        border-bottom: 1px solid rgba($color: $colorBlack, $alpha: 0.2);

        .container {
            .row {
                .col-md-6 {
                    p {
                        @media screen and (max-width: 767px) {
                            text-align: center;
                        }

                        margin: 0;
                        padding: 20px 0;
                        font-size: $fontSizeSmall;
                        line-height: 1.3;
                        font-weight: 500;
                    }
                }

                .col-md-3 {
                    @media screen and (min-width: 768px) {
                        border-left: 1px solid rgba($color: $colorBlack, $alpha: 0.2);
                    }

                    @media screen and (max-width: 767px) {
                        margin-top: 10px;
                        margin-bottom: 15px;
                    }

                    display: flex;
                    align-items: center;

                    ul {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }

    .footer-middle {
        padding-top: 45px;
        padding-bottom: 55px;

        .container {
            .row {
                div {
                    .list-title {
                        font-size: $fontSizeMedium;
                        line-height: 1.3;
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                    .information-list,
                    .account-list,
                    .help-list,
                    .contact-list {
                        margin-top: 25px;

                        .list-item {
                            margin-top: 5px;
                            margin-bottom: 5px;

                            .link-list {
                                font-size: $fontSizeSmall;
                                line-height: 1.3;
                                font-weight: 500;
                                color: $colorBlack;
                                text-transform: capitalize;

                                &:hover {
                                    color: $btnBgColor;
                                }
                            }
                        }
                    }

                    .contact-list {
                        .list-item {
                            .link-list.email-address {
                                color: $btnBgColor;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        background: $colorBlack;
        padding-top: 25px;
        padding-bottom: 25px;

        .container {
            .copyright {
                font-size: $fontSizeSmall;
                line-height: 1.3;
                font-weight: 500;
                margin: 0;
                color: $colorWhite;
            }
        }
    }
}